@model DMSFinal.BasicData.ViewModels.PaperVMs.PaperBatchVM
@inject IStringLocalizer<Program> Localizer;

<wt:form vm="@Model">
    <div style="margin-bottom:10px">@Localizer["Sys.BatchEditConfirm"] </div>
    @if (@Model.LoginUserInfo.Roles[0].RoleCode == "001")
    {
        <wt:row items-per-row="ItemsPerRowEnum.Two">
            <wt:combobox field="LinkedVM.Examine" />
        </wt:row>
    }
    else { 
        <wt:row items-per-row="ItemsPerRowEnum.Two">
            <wt:combobox field="LinkedVM.Department" />
            <wt:textbox field="LinkedVM.JobNo" />
            <wt:textbox field="LinkedVM.Name" />
            <wt:combobox field="LinkedVM.Title1" />
            <wt:combobox field="LinkedVM.Title2" />
            <wt:textbox field="LinkedVM.PaperTitle" />
            <wt:textbox field="LinkedVM.MagazineName" />
            <wt:datetime field="LinkedVM.PublicTime" />
            <wt:textbox field="LinkedVM.Info" />
            <wt:combobox field="LinkedVM.Category" />
            <wt:combobox field="LinkedVM.IsSCI" />
            <wt:textbox field="LinkedVM.SCINo" />
            <wt:combobox field="LinkedVM.IsEI" />
            <wt:textbox field="LinkedVM.EINo" />
            <wt:combobox field="LinkedVM.IsISTP" />
            <wt:textbox field="LinkedVM.ISTPNo" />
            <wt:textbox field="LinkedVM.Num" />
            <wt:textbox field="LinkedVM.ImpactFactor" />
            <wt:combobox field="LinkedVM.Rank" />
            <wt:combobox field="LinkedVM.IsOurSchool" />
            <wt:combobox field="LinkedVM.Examine" />
            <wt:textbox field="LinkedVM.Reason" />
        </wt:row>
    }
    <wt:hidden field="Ids" />
    <wt:grid vm="ListVM" use-local-data="true" height="300" hidden-checkbox="true" hidden-panel="true" />
    <wt:row align="AlignEnum.Right">
        <wt:submitbutton />
        <wt:closebutton />
    </wt:row>
</wt:form>
