@model DMSFinal.ApprovedData.ViewModels.HorizontalSubjectVMs.HorizontalSubjectBatchVM
@inject IStringLocalizer<Program> Localizer;

<wt:form vm="@Model">
    <div style="margin-bottom:10px">@Localizer["Sys.BatchEditConfirm"] </div>
<wt:row items-per-row="ItemsPerRowEnum.Two">
<wt:combobox field="LinkedVM.Department" />
<wt:textbox field="LinkedVM.JobNo" />
<wt:textbox field="LinkedVM.Name" />
<wt:combobox field="LinkedVM.Title1" />
<wt:combobox field="LinkedVM.Title2" />
<wt:textbox field="LinkedVM.SubjectName" />
<wt:textbox field="LinkedVM.CompanyName" />
<wt:textbox field="LinkedVM.Funds" />
<wt:datetime field="LinkedVM.StartTime" />
<wt:datetime field="LinkedVM.EndTime" />
<wt:textbox field="LinkedVM.Participants" />
<wt:combobox field="LinkedVM.Examine" />
<wt:textbox field="LinkedVM.Reason" />
</wt:row>
    <wt:hidden field="Ids" />
    <wt:grid vm="ListVM" use-local-data="true" height="300"  hidden-checkbox="true" hidden-panel="true"/>
    <wt:row align="AlignEnum.Right">
        <wt:submitbutton />
        <wt:closebutton />
    </wt:row>
</wt:form>
