@model DMSFinal.ApprovedData.ViewModels.AwardVMs.AwardBatchVM
@inject IStringLocalizer<Program> Localizer;

<wt:form vm="@Model">
    <div style="margin-bottom:10px">@Localizer["Sys.BatchEditConfirm"] </div>
<wt:row items-per-row="ItemsPerRowEnum.Two">
<wt:combobox field="LinkedVM.Department" />
<wt:textbox field="LinkedVM.JobNo" />
<wt:textbox field="LinkedVM.Name" />
<wt:combobox field="LinkedVM.Title1" />
<wt:combobox field="LinkedVM.Title2" />
<wt:textbox field="LinkedVM.Topic" />
<wt:textbox field="LinkedVM.AwardNo" />
<wt:textbox field="LinkedVM.RewardName" />
<wt:textbox field="LinkedVM.AwardingUnit" />
<wt:combobox field="LinkedVM.AwardLevel" />
<wt:datetime field="LinkedVM.RewardTime" />
<wt:combobox field="LinkedVM.Rank" />
<wt:combobox field="LinkedVM.IfOurSchool" />
<wt:combobox field="LinkedVM.Examine" />
<wt:textbox field="LinkedVM.Reason" />
</wt:row>
    <wt:hidden field="Ids" />
    <wt:grid vm="ListVM" use-local-data="true" height="300"  hidden-checkbox="true" hidden-panel="true"/>
    <wt:row align="AlignEnum.Right">
        <wt:submitbutton />
        <wt:closebutton />
    </wt:row>
</wt:form>
